.env
# We dont need test.db because it is an sqlite database
test.db
BackEnd/__pycache__/API.cpython-313.pyc
BackEnd/__pycache__/routes.cpython-313.pyc
BackEnd/Database/__pycache__/ProjectDatabase.cpython-313.pyc
__pycache__/app.cpython-313.pyc
# We dont need SwiftSignDB.db because it is an sqlite database
BackEnd/Database/SwiftSignDB.db
flask_session/2029240f6d1128be89ddc32729463129
__pycache__/__init__.cpython-313.pyc
flask_session/5540a00a78bca66e0c59af5063bd36e2
flask_session/e6d0a7e0adcfba2116a1bf8353cf0d81
flask_session/e6e6cba7e8838d97761f9c8aaed3bbeb
venv
1.jpg
2.jpg
C:\Users\islam\SwiftSign\SwiftSign\.idea
__pycache__/__init__.cpython-311.pyc
__pycache__/app.cpython-311.pyc
AI_Integration/3.jpg
BackEnd/logs
BackEnd/__pycache__/API.cpython-311.pyc
BackEnd/__pycache__/routes.cpython-311.pyc
.gitignore
.gitignore
BackEnd/Database/__pycache__/ProjectDatabase.cpython-313.pyc
AI_Integration/__pycache__/face_recognition_asyn.cpython-313.pyc
AI_Integration/__pycache__/face_recognition_asyn.cpython-311.pyc
.vscode/mcp.json
